body{
    background-color: grey;
}

.Banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1485px;
    height: 250px;
    border: 10px solid black;
}

.button2 {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
    margin-left: -5px;
}

.button3 {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
    margin-left: 350px;
}

.button4 {
     background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
    margin-left: 350px;
}


p{
    font-size: 20px;
    font-family: cursive;
    color: white;
    text-align: center;
}

.HTML1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    border: 5px solid black;
    border-radius: 25px;
}

.CSS1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    border: 5px solid black;
    border-radius: 25px;
}

.text-link{
    font-size: 40px;
    font-family: cursive;
    color:blue;
    float:right;
}

.CSS2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    border: 5px solid black;
    border-radius: 25px;
}
.image-link{
    font-size: 40px;
    font-family: cursive;
    color:blue;
}

.CSS3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    border: 5px solid black;
    border-radius: 25px;
}
.element-link{
    font-size: 40px;
    font-family: cursive;
    color:blue;
    float:right;
}

.CSS4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    border: 5px solid black;
    border-radius: 25px;
}
.FlexBox-link{
    font-size: 40px;
    font-family: cursive;
    color:blue;
}