.Welcometext{
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: cursive;

    
    }

body{
    background-color: grey;
}

h1{
    color: white;
    font-size: 5px;
    text-align: center;
    border: 10px solid black;
}

p{
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    color: white;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
}
.button2 {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
    margin-left: 300px;
}

.button3 {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
    float: right;
    margin-right: 100px;
}

hr{
    border: 2px solid white;
}

.Comment{
    text-align: center;
    font-size: 18px;
    color: black;
    font-family: cursive;
}

.Banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1485px;
    height: 250px;
}

.Resume-link{
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: cursive;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 10px;
    border: 2px solid black;
    background-color: black;
    border-radius: 12px;
    text-decoration: none;
}

.Resume-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 800px;
    padding: 20px;
}