body{
    background-color: grey;
}

.Banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1485px;
    height: 250px;
    border: 10px solid black;
}

.button2 {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
    margin-left: -5px;
}

.button3 {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
    margin-left: 350px;
}

p{
    font-size: 18px;
    font-family: cursive;
    color: white;
}

.HTML1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    border: 5px solid black;
    border-radius: 25px;
}

.button4 {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
    margin-left: 350px;
}

.GD1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    border: 5px solid black;
    border-radius: 25px;
}
.GD2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    border: 5px solid black;
    border-radius: 25px;
    float:right;
}
.Poster{
    font-size: 40px;
    font-family: cursive;
    color:blue;
}

.Flyer{
    font-size: 40px;
    font-family: cursive;
    color:blue;
}

.GD2-5{
    display: block;
    width: 600px;
    height: 400px;
    border: 5px solid black;
    border-radius: 25px;
    float:left;
}

.elements{
    text-align: left;
}

.certificate{
    text-align: right
}

.principle{
    text-align: center;
}

.GD3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    border: 5px solid black;
    border-radius: 25px;
}